<div id="contents">
  <div class="box">
    <div>
      <div class="body">

        <h1>Error</h1>

        <h2>{{message}}</h2>

        <p>Status: {{error.status}}</p>

        <pre>{{error.stack}}</pre>

      </div>
    </div>
  </div>
</div>